@font-face {
    font-family: "Notation";
    src: url("media/subset-Bravura.woff2") format("woff2"),
         url("media/subset-Bravura.woff") format("woff");
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-image: url("media/paper.jpg");
    min-height: 100%;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

body {
    padding-top: 3em;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.inline-notation {
    font-family: "Notation";
    font-size: 2em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    position: relative;
    top: 0.25em;
}

.timeSignature-top {
    position: relative;
    left: 0.207em;
}

.timeSignature-bottom {
    position: relative;
    left: -0.207em;
}

/* IE hack */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .timeSignature-top {
        top: -0.6em;
        left: 0.04em;
    }

    .timeSignature-bottom {
        top: -0.2em;
        padding-right: 0.1em;
    }
}

.finalLevel {
    display: inline-block;
    font-size: 0.8em;
    color: rgb(121, 89, 21);
    border: 2px solid rgb(145, 111, 37);
    padding: 0.2em;
}

.nextSkillButton, .nextSkillButton:focus {
    color: rgb(173, 148, 100);
}

.nextSkillButton:hover {
    color: rgb(233, 206, 156);
}